In [1]:
from pyspark import SparkContext, SparkConf
sc = SparkContext(master = 'local[*]')

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[*]").appName("Second Pyspark Example").getOrCreate()

In [3]:
df = spark.read.option("multiLine", True).json("/Users/deepak/Downloads/earth_meteorite_landings.json")

In [4]:
df = df.withColumnRenamed(":@computed_region_cbhk_fwbd","region_cbhk").withColumnRenamed(":@computed_region_nnqa_25f4","region_nnqa")
df.printSchema()

root
 |-- region_cbhk: string (nullable = true)
 |-- region_nnqa: string (nullable = true)
 |-- fall: string (nullable = true)
 |-- geolocation: struct (nullable = true)
 |    |-- coordinates: array (nullable = true)
 |    |    |-- element: double (containsNull = true)
 |    |-- type: string (nullable = true)
 |-- id: string (nullable = true)
 |-- mass: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nametype: string (nullable = true)
 |-- recclass: string (nullable = true)
 |-- reclat: string (nullable = true)
 |-- reclong: string (nullable = true)
 |-- year: string (nullable = true)

In [5]:
df.show(1,truncate=0)

+-----------+-----------+----+--------------------------+---+----+------+--------+--------+---------+--------+-----------------------+
|region_cbhk|region_nnqa|fall|geolocation               |id |mass|name  |nametype|recclass|reclat   |reclong |year                   |
+-----------+-----------+----+--------------------------+---+----+------+--------+--------+---------+--------+-----------------------+
|null       |null       |Fell|{[6.08333, 50.775], Point}|1  |21  |Aachen|Valid   |L5      |50.775000|6.083330|1880-01-01T00:00:00.000|
+-----------+-----------+----+--------------------------+---+----+------+--------+--------+---------+--------+-----------------------+
only showing top 1 row

In [6]:
df = df.select('region_cbhk',
 'region_nnqa',
 'fall',
 'id',
 'mass',
 'name',
 'nametype',
 'recclass',
 'reclat',
 'reclong',
 'year',"geolocation.coordinates","geolocation.type")

In [7]:
df.printSchema()

root
 |-- region_cbhk: string (nullable = true)
 |-- region_nnqa: string (nullable = true)
 |-- fall: string (nullable = true)
 |-- id: string (nullable = true)
 |-- mass: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nametype: string (nullable = true)
 |-- recclass: string (nullable = true)
 |-- reclat: string (nullable = true)
 |-- reclong: string (nullable = true)
 |-- year: string (nullable = true)
 |-- coordinates: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- type: string (nullable = true)

In [8]:
from pyspark.sql.functions import to_date
df = df.withColumn("year",to_date("year"))

In [9]:
df.show(1,truncate=False)

+-----------+-----------+----+---+----+------+--------+--------+---------+--------+----------+-----------------+-----+
|region_cbhk|region_nnqa|fall|id |mass|name  |nametype|recclass|reclat   |reclong |year      |coordinates      |type |
+-----------+-----------+----+---+----+------+--------+--------+---------+--------+----------+-----------------+-----+
|null       |null       |Fell|1  |21  |Aachen|Valid   |L5      |50.775000|6.083330|1880-01-01|[6.08333, 50.775]|Point|
+-----------+-----------+----+---+----+------+--------+--------+---------+--------+----------+-----------------+-----+
only showing top 1 row

In [10]:
df.printSchema()

root
 |-- region_cbhk: string (nullable = true)
 |-- region_nnqa: string (nullable = true)
 |-- fall: string (nullable = true)
 |-- id: string (nullable = true)
 |-- mass: string (nullable = true)
 |-- name: string (nullable = true)
 |-- nametype: string (nullable = true)
 |-- recclass: string (nullable = true)
 |-- reclat: string (nullable = true)
 |-- reclong: string (nullable = true)
 |-- year: date (nullable = true)
 |-- coordinates: array (nullable = true)
 |    |-- element: double (containsNull = true)
 |-- type: string (nullable = true)